@import 'base';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style-type: none;
}


::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(245, 237, 237);
}

::-webkit-scrollbar-thumb {
    background: #0f0f0f;
    border-radius: 5px;
}


main{
    width: 100%;
    background: #000;
    // header
    >header{
        @include baseDesign(100%,100vh,0,0,0,none);
        @extend .flex-1;
        position: relative;
        >.head-gallery{
            @extend .trick-1;
            >div{
                @extend .trick-1;
                overflow: hidden;
                >.text{
                    width: 80%;
                    height: 60%;
                    position: absolute;
                    bottom: -10em;
                    color: #fff;
                    padding: 3em 2em 2em 4em;
                    opacity: 0;
                    >h1{
                        @include fontStyle(5em,400,sans-serif,inherit);
                        line-height: 1.2em;
                        margin-bottom: 1em;
                    }
                    >button{
                        cursor: pointer;
                        border: none;
                        outline: none;
                        position: relative;
                        overflow: hidden;
                        @extend .flex-1;
                        @include baseDesign(10.5em , auto , 8px 20px , 0 , 25px , $favColor);
                        >span{
                            margin-left: 6px;
                            transition: 0.5s;
                        }
                        >::before{
                            content: "";
                            display: block;
                            width: 30%;
                            height: 100%;
                            left: -30%;
                            position: absolute;
                            border-radius: 50%;
                            background: rgba( 255, 255, 255, 0.05 );
                            box-shadow: -8px 8px 15px 0 #afb2b491;
                            transition: 0.5s;
                        }
                        &:hover::before{   left: 30%;}
                        &:hover>span{  margin-left: 0;}
                    }
                }
                >.text-1{animation: text-1 45s linear infinite;}
                >.text-2{animation: text-2 45s linear infinite;}
                >.text-3{animation: text-3 45s linear infinite;}
                >img{
                    @extend .trick-1;
                }
            }
            >div:nth-of-type(1)>img{animation: anime-1 45s infinite;}
            >div:nth-of-type(2)>img{animation: anime-2 45s infinite;}
            >div:nth-of-type(3)>img{animation: anime-3 45s infinite;}

        }
        // navigation
        >nav{
            align-self: flex-start;
            @include baseDesign(90%,20%,0,0,0,none);
            position: relative;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            >figure{
               @include baseDesign(10%,auto,0,0,0,none);
               @extend .flex-1;
               >a{
                @include baseDesign(100%,80%,0,0,0,none);
                @extend .flex-1;
                >img{width: 45%;}
               }
            }
            >.menu{
                @include baseDesign(50%,auto,0,0,0,none);
                display: flex;
                align-items: stretch;
                justify-content: space-between
            }
            >.menu>li{
                color: #fff;
                width: 16.66%;
                @extend .flex-1;
                >.dropbtn , >a{
                    outline: none;
                    border: none;
                    background: none;
                    @include fontStyle(1em,100,sans-serif,#fff);
                    cursor: pointer;
                    letter-spacing: 2px;
                }
            }
            >.menu>li:not(:first-of-type)>span{
                @extend .hoverTrick;
            }
            .menu>li:hover>span , .menu>.dropDown:hover>span{
                @extend .whenHoverit;
            }
            .menu>.dropDown{
                position: relative;
                transition: 0.5s;
                &:hover>.dropDown-box , >.dropDown-box>.dropSide:hover>.content{
                    opacity: 1;
                    visibility: visible;
                    transition: 0.5s;
                }
                >.dropDown-box{
                    position: absolute;
                    top: 100%;left: 0;
                    opacity: 0;
                    visibility: hidden;
                    @include baseDesign(225px,auto,1.5em 0,0,0,$favColor);
                    >.dropSide{
                        color: #000;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        margin: 0;
                        width: 100%;
                        padding-right: 1.5em;
                        >span{
                            font-weight: 100;
                        }
                        .content{
                            position: absolute;
                            top: -10%;
                            left: 100%;
                            @include baseDesign(225px,auto,1.5em 0,0,0,#acadad);
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                    >.dropSide:not(:last-of-type){
                        margin-bottom: 1em;
                    }
                    a , .dropSidebtn{
                        @include fontStyle(0.9em,100,sans-serif,#000);
                        display: block;
                        width: fit-content;
                        margin: 1em 0;
                        padding:0 0 0 1.5em;
                        position: relative;
                        &:hover::after {
                            width: 100%;
                        }
                        background: none;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                    a::after ,  .dropSidebtn::after {
                        content: "";
                        position: absolute;
                        @include baseDesign(0,1px,0,0,0,#000);
                        bottom: -1px;left: 1.5em;
                        transition: 0.5s;
                    }
                    a.active::after{
                        width: calc(100% - 1.5em) !important;
                    }
                    .dropSidebtn{
                        margin: 0;
                    }
                    .dropSide:hover>.dropSidebtn::after{
                        width: calc(100% - 1.5em);
                    }
                }

            }
            >.cart{
                @include baseDesign(30%,auto,1em,0,0,none);
                @include fontStyle(1em,100,sans-serif,#fff);
                position: relative;
                @extend .flex-1;
                justify-content: flex-end !important;
                &:hover > .cart-content{
                    visibility: visible;
                    opacity: 1;
                }
                >span{
                    cursor: pointer;
                }
                >.cart-content{
                    position: absolute;
                    @include baseDesign(100%,auto,2em 1em,0,0,#000);
                    top: 100%;
                    right: 0;
                    border: 1px solid $baseColor;
                    color: $baseColor;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.5s
                }
            }
            >.menu-bar{
                @include baseDesign(10%,auto,0,0,0,none);
                @extend .flex-1;
                >.box{
                    @include baseDesign(50px,1.5em,0,0,0,none);
                    cursor: pointer;
                    display: flex;
                    flex-flow: wrap;
                    align-content: space-between;
                    &:hover>span::before{
                        width: 100% !important;
                    }
                    &:hover>span::after{
                        width: 0 ;
                    }
                    >span{
                        @include baseDesign(100%,4px,0,0,10px,none);
                        display: block;
                        position: relative;
                        &::before{
                            left: 0 ;
                            width: 0 !important;
                        }
                        &::after{right: 0;}
                    }
                    >span::before , >span::after{
                        content: "";
                        @include baseDesign(100%,4px,0,0,10px,$favColor);
                        display: block;
                        position: absolute;
                        top: 0;
                    }
                    >span:first-of-type::after{
                        transition: width 0.5s ;
                    }
                    >span:first-of-type::before{
                        transition: width 0.5s 0.8s;
                    }
                    >span:last-of-type::after{
                        transition: width 0.5s 0.5s;
                    }
                    >span:last-of-type::before{
                        transition: width 0.5s 1.1s;
                    }                    
                }
            }
        }
    }
    // branding
    .branding{
        @include baseDesign(100% , auto,6em,0,0,none);
        >.row{
            @include baseDesign(100% , auto,0,0,0,none);
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 1.5em;
        }
        >.row>article{
            color: #fff;
            padding: 1em;
            >h2{
                @include fontStyle(1.5em,400,Verdana,inherit);
                margin: 1em 0;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
            >p{
                @include fontStyle(1em,100,$favFont,$baseColor);
                line-height: 1.2em;
            }
        }
    }
    // technology
    >.tachnology{
        @include baseDesign(100%,auto,3em,0,0,none);
        >.row{
            @include baseDesign(100%,auto,0,0,0,none);
            display: flex;
            column-gap: 2em;
            >*{padding: 1em;}
            >.text_box{
                width: 40%;
                display: flex;
                flex-flow: wrap;
                align-content: space-between;
                >div{
                    width: 100%;
                    >strong{
                        @include fontStyle(1em,100,$favFont,$baseColor);
                        text-transform: uppercase;
                        margin-bottom: 0.5em;
                        display: block;
                    }
                    >h2{
                        @include fontStyle(2.5em,400,Verdana,#fff);
                        font-family: Verdana, Geneva, Tahoma, sans-serif
                    }
                    >p{
                        @include fontStyle(1.1em,100,$favFont,$baseColor);
                        line-height: 1.2em;
                        margin-bottom: 3em;
                    }
                    >button{
                        @extend .buttonTrick;
                        width: 160px;
                        >span{
                            font-size: 2em;
                            @extend .buttonArrow;
                        }
                        &:hover>span{
                            @extend .buttonArrowHover;
                        }
                    }
                }
            }
            >.media-box{
                width: 60%;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                column-gap: 2.5em;
                >.product{
                    @extend .flex-1;
                    @include baseDesign(100%,27rem,0,0,0,none);
                    position: relative;
                    background-size:cover;
                    background-repeat: no-repeat;
                    >a{
                        position: absolute;
                        top: 0;left: 0;
                        @include baseDesign(100%,100%,0,0,0,none);
                     
                    }
                }
                >.product:first-of-type{background-image: url(../image/blog-img-07.jpg) !important;}
                >.product:last-of-type{background-image: url(../image/283190699_547928650281767_9106482485291632676_nfull.jpg) !important;}
                >.product>.cart-box{
                    @include baseDesign(80%,90%,0,0,0,none);
                    position: absolute;
                    opacity: 0;
                    transition: 0.5s;
                    >figure , >a{
                        @include baseDesign(100%,100%,0,0,0,none);
                        position: absolute;
                        overflow: hidden;
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                        }
                    }
                    >button{
                        @extend .buttonTrick;
                        position: absolute;
                        width: 150px;
                        top: 57%;left: 50%;
                        transform: translate(-50%,-50%);
                        opacity: 0;
                        >span{
                            @extend .buttonArrow;
                        }
                        &:hover>span{
                            @extend .buttonArrowHover;
                        }
                    }
                    >h3>a{
                        @include fontStyle(1em,lighter,$favFont,#000);
                        position: absolute;
                        letter-spacing: 1px;
                        top: 90%;left: 10%;
                        opacity: 0;
                    }
                    >span{
                        position: absolute;
                        @include fontStyle(1em,100,sans-serif,#000);
                        top: 90%;left: 10%;
                        opacity: 0;
                    }
                }
                >.product:hover>.cart-box{opacity: 1;}
                >.product:hover>.cart-box>button{
                    animation: product-1 0.4s forwards;
                }
                >.product:hover>.cart-box>h3>a{
                    animation: product-2 0.4s  forwards;
                }
                >.product:hover>.cart-box>span{
                    animation: product-3 0.4s  forwards;
                }
            }
        }
    }
    // detail
    >.gallery-pic{
        @include baseDesign(100%,auto,6em,0,0,none);
        >.row{
            @include baseDesign(100%,auto,0,0,0,none);
        }
        >.row>.detail{
            @include baseDesign(100%,auto,1.5em 0,0,0,none);
            border-bottom: 1px solid $baseColor;
            color: #fff;
            cursor: pointer;
            position: relative;
            >a{
                position: absolute;top: 0;left: 0;
                @include baseDesign(100%,100%,0,0,0,none);
            }
            >.text{
                >h2{
                    @include fontStyle(1.9em,400,Verdana,inherit);
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    margin-bottom: 0.5em;
                }
                >p{
                    @include fontStyle(1em,400,$favFont,$baseColor);
                    line-height: 1.5em;
                }
            }
            >figure{
                @include baseDesign(14rem,11rem,0,0,0,none);
                position: absolute;
                top: -20%;
                right: 13%;
                transform: rotate(-7deg);
                transition: 0.5s;
                opacity: 0;
                visibility: hidden;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &:hover>figure{
                visibility: visible;
                opacity: 1;
            }
            &:hover{
                color: $baseColor;
            }
        }
    }
    // moving
    >.moving{
        width: 100%;
        >.box{
            width: 100%;
            position: relative;
            padding: 1em 0;
            border-bottom: 1px solid $baseColor;
            overflow-x: hidden;
            &:first-of-type{
                border-top: 1px solid $baseColor;
                >span:first-of-type{right: -104rem;}
            }
            &:last-of-type>span:first-of-type{left: -104rem;}
            >span{
                @include fontStyle(3em,400,Verdana,$baseColor);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                &:first-of-type{
                    position: absolute;
                    // width: 100%;
                    display: block;
                    word-break: keep-all;
                    width: 104rem;
                }
                &:last-of-type{color: #000;}
            }
            >.left-1{animation: left-to-right 30s linear alternate infinite;}
            >.right-1{animation: right-to-left 30s linear alternate infinite;}
        }
    }
    // product
    >.products-2{
        @include baseDesign(100%,auto,6em 0,0,0,none);
        >.row{
            @include baseDesign(100%,auto,0,0,0,none);
            display: grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 1.5rem;
            >.card{
                height: 27rem;
                position: relative;
                cursor: pointer;
                >a{
                    position: absolute;
                    left: 0;
                    top: 0;
                    @include baseDesign(100%,100%,0,0,0,none);
                }
                &::before{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(transparent , rgba(0, 0, 0, 0.541));
                    opacity: 0;
                    transition: 0.5s;
                }
                &:hover::before{
                    opacity: 1;
                }
            }
            >.card>figure{
                @include baseDesign(100%,100%,0,0,0,none);
                overflow: hidden;
                >img{
                    width: 100%;
                    height: 100%;
                }
            }
            .card>.text{
                position: absolute;
                color: #fff;
                bottom: 0%;
                padding: 2em;
                >span{
                    border: 1px solid #fff;
                    border-radius: 10px;
                    padding: 4px 10px;
                    font-size: 0.8em;
                }
                >h3{
                    @include fontStyle(1.7em,400,Verdana,#fff);
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    margin: 0.8em 0;
                    letter-spacing: 1px;
                }
                >a{
                    @include fontStyle(0.9em,400,$favColor,$baseColor);
                    transition: 0.5s;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }
    // contact
    >.contact{
        @include baseDesign(100%,auto,6em,0,0,none);
        >.row{
            @include baseDesign(100%,auto,0,0,0,none);
            display: flex;
            >.hesitate{
                width: 45%;
                padding: 1em 3em 1em 0;
                color: #fff;
                >h2{
                    @include fontStyle(2.2em,400,Verdana,inherit);
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                >p{
                    @include fontStyle(1em,400,$favFont,$baseColor);
                    line-height: 1.5em;
                    margin: 2em 0;
                }
                >.address{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    column-gap: 2em;
                    >div{
                        >h3{
                            @include fontStyle(1.4em,400,Verdana,#fff);
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            margin-bottom: 1em;
                        }
                        >a{
                            display: block;
                            @include fontStyle(1em,400,$baseColor,$baseColor);
                            transition: 0.5s;
                            line-height: 1.5em;
                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            >.form{
                width: 55%;
                form{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-flow: wrap;
                    padding: 1em;
                    >input{
                        width: 47%;
                        margin-bottom: 1em;
                    }
                    >textarea{
                        width: 100%;
                        margin: 1em 0 3em 0;
                        resize: vertical;
                    }
                    >input , >textarea{
                        border: none;
                        outline: none;
                        padding: 1em;
                        color: $baseColor;
                        font-size: 0.9em;
                        border-bottom: 1px solid $baseColor;
                        background: none;
                    }
                    >div{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        >button{
                            @extend .buttonTrick;
                            width: 130px;
                            >span{
                                @extend .buttonArrow;
                                transition: 0.5s;
                                font-size: 2em;
                            }
                            &:hover>span{
                                @extend .buttonArrowHover;
                            }
                        }
                    }
                }
            }
        }
    }
     // instagram
    >.instagram{
        @include baseDesign(100%,auto,6em 3em,0,0,none);
        border-bottom: 1px solid $baseColor;
        border-top: 1px solid $baseColor;
        >.row{
            @include baseDesign(100%,auto,0,0,0,none);
            display: flex;
            >.link{
                width: 20%;
                >h3{
                    @include fontStyle(1.8em,400,Verdana,#fff);
                    letter-spacing: 1px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                >span{
                    display: block;
                    @include fontStyle(0.9em,100,$favFont,$baseColor);
                    margin: 2em 0 0.5em;
                }
                >a{
                    @include fontStyle(0.9em,100,$favFont,$baseColor);
                    transition: 0.5s;
                    &:hover{
                        color: #fff;
                    }
                }
            }
            >.store{
                width: 80%;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                column-gap: 1.5em;
            }
            >.store>.item{
                cursor: pointer;
                height: 14rem;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    left: 0;
                    transition: 0.5s;
                    @include baseDesign(100%,100%,0,0,0,linear-gradient(transparent,rgba(255, 255, 255, 0.753)));
                }
                >figure{
                    width: 100%;
                    height: 100%;
                    display: block;
                    >img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                >a{
                    position: absolute;
                    @extend .buttonTrick;
                    width: 130px;
                    top: 64%;
                    left: 50%;
                    opacity: 0;
                    transition: 0.5s;
                    transform: translate(-50%,-50%);
                }
                &:hover::before{
                    opacity: 1;
                }
                &:hover>a{
                    opacity: 1;
                    top: 50%;
                }
            }
        }
    }
    // footer
    >.footer{
        @include baseDesign(100%,auto,6em 3em,0,0,none);
        >.row{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            @include baseDesign(100%,auto,0,0,0,none);
            >.col-1>figure{
                width: 100%;
                height: 100%;
                >a{
                    display: block;
                    width: 100%;
                    margin-bottom: 0.8em;
                    >img{
                        width: 25%;
                    }
                }
                >figcaption{
                    @include fontStyle(0.8em,100,$favFont,$baseColor);
                }
            }
            >.col-2{
                font-family: $favFont;
                >h4{
                    @include fontStyle(1.3em,400,inherit,#fff);
                    margin-bottom: 0.5em;
                    letter-spacing: 1px;
                }
                >a{
                    display: block;
                    @include fontStyle(0.8em,100,inherit,$baseColor);
                    transition: 0.5s;
                    line-height: 1.8em;
                    cursor: pointer;
                    &:hover{
                        color: #fff;
                    }
                }
                >p{
                    @include fontStyle(0.8em,100,inherit,$baseColor);
                    text-transform: capitalize;
                    margin-bottom: 1em;
                }
                >input{
                    border: none;
                    outline: none;
                    background: none;
                    border-bottom: 1px solid $baseColor;
                    padding: 1em;
                    color: $baseColor;
                    width: 100%;
                }
            }
        }
    }


    // small scope
    @include responsive(S){
        >header{
            >.head-gallery{
                >div{
                    >img{
                        object-fit: cover;
                        object-position: 50% 50%;
                    }
                    .text{
                        @include baseDesign(100%,60%,3em 2em,0,0,none);
                        >h1{
                            font-size: 2.7em;
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }
            >nav{
                @include baseDesign(100%,10%,0,0,0,#000);    
               padding:0 1em;
                >.menu , .cart{
                    display: none;
                }
                >figure{
                    width: 20%;
                    >a>img{
                        width: 100%;
                    }
                }
                .box{
                    width: 20px;
                    height: 1.2em !important;
                }
            }
        }
        >.branding{
            padding: 6em 1em;
            >.row{
                grid-template-columns: 1fr;
                row-gap: 1.5em;
                column-gap: 0;
            }
        }
        >.tachnology{
            padding:1em 1em;
            >.row{
                column-gap: 0;
                row-gap: 1.5em;
                flex-flow: wrap;
                >.text_box{
                    width: 100%;
                    >div:first-of-type{margin-bottom: 2em;}
                }
                >.media-box{
                    width: 100%;
                    grid-template-columns: 1fr;
                    column-gap: 0;
                    row-gap: 2.5em;
                    >.product{
                        height: 24rem !important;
                        >.cart-box{
                            width: 90% !important;
                            >figure>img{
                                width: 100%;
                                height: 100% !important;
                                object-fit: fill;
                            }
                        }
                    }
                }
            }
        }
        >.gallery-pic{
            padding: 6em 2em;
            >.row>.detail{
                >.text{
                    >h2{
                        font-size: 1.5em;
                    }
                    >p{
                        margin-bottom: 1.5em;
                    }
                }
                >figure{
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                    transform: rotate(0deg) translateX(-50%);
                    top: 0%;
                    right: -50%;
                    width: 100%;
                    height: 22rem;
                }
            }
        }
        >.products-2{
            >.row{
                grid-template-columns: 1fr;
                column-gap:0;
                row-gap: 2em;
                >.card{
                    height: 37rem;
                    >figure>img{
                        object-fit: cover;
                    }
                }
            }
        }
        // content
        >.contact{
            padding:3em 2em;
            >.row{
                display: block;
                >.hesitate{
                    width: 100% !important;
                    padding: 1em 0;
                    margin-bottom: 2em;
                    >h2{
                        font-size: 1.8em;
                    }
                    >.address{
                        grid-template-columns: 1fr;
                        column-gap: 0;
                        row-gap: 2em;
                    }
                }
                >.form{
                    width: 100% !important;
                    >form{
                        padding: 0;
                        input{width: 100% !important;}
                    }
                }
            }
        }
        // instagram
        >.instagram{
            padding: 3em 2em;
            >.row{
                flex-flow: wrap;
                >.link{
                    width: 100% !important;
                    margin-bottom: 2em;
                }
                >.store{
                    width: 100% !important;
                    grid-template-columns: 1fr;
                    column-gap: 0;
                    row-gap: 1.5em;
                    >.item{
                        height: 18rem;
                    }
                }
            }
        }
        // footer
        >.footer{
            padding: 6em 2em;
            >.row{
                grid-template-columns: 1fr;
                row-gap: 3em;
            }
        }

    }


    // medium scope
    @include responsive(M){
        >header{
            .head-gallery{
                >div{
                    >img{
                        object-fit: cover;
                    }
                    .text{
                        @include baseDesign(80%,35%,2em 2em,0,0,none);
                        >h1{
                            font-size: 3.8em;
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }
            >nav{
                @include baseDesign(100%,5%,0 1em,0,0,#000);
                >.menu, >.cart{
                    display: none;
                }
                >figure{
                   width: 15%;
                }
                .menu-bar>.box{
                   width: 30px;
                   height: 1em;
                }
            }
        }
        >.branding{
            padding: 6em 3em;
            .row{
                grid-template-columns: 1fr;
                column-gap: 0;
                row-gap: 2.5em;
            }
        }
        >.tachnology{
            padding:3em;
            >.row{
                column-gap: 0;
                row-gap: 1.5em;
                flex-flow: wrap;
                >.text_box{
                    width: 100%;
                    >div:first-of-type{margin-bottom: 2em;}
                }
                >.media-box{
                    width: 100%;
                }
            }
        }
        >.gallery-pic{
            padding: 6em 3em;
            >.row>.detail{
                padding: 2em 0;
                >.text{
                    >h2{font-size: 2em;}
                    >p{
                        margin-bottom: 1.5em;
                        font-size: 1.1em;
                    }
                }
                >figure{
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                    transform: rotate(0deg) translateX(-50%);
                    top: 0%;
                    right: -50%;
                    width: 100%;
                    height: 22rem;
                }
            }
        }
        >.products-2{
            >.row{
                grid-template-columns: repeat(2,1fr);
                gap: 2em;
                >.card{
                    height: 42rem;
                }
            }
        }
        >.contact{
            padding:3em 2em;
            >.row{
                display: block;
                >.hesitate{
                    width: 100% !important;
                    padding: 1em 0;
                    margin-bottom: 2em;
                    >h2{
                        font-size: 1.8em;
                    }
                }
                >.form{
                    width: 100% !important;
                    >form{
                        padding: 0;
                        input{width: 100% !important;}
                    }
                }
            }
        }
        >.instagram{
            padding: 3em 2em;
            >.row{
                flex-flow: wrap;
                >.link{
                    width: 100% !important;
                    margin-bottom: 2em;
                }
                >.store{
                    grid-template-columns: repeat(2,1fr);
                    row-gap: 1.5em;
                    width: 100% !important;
                    >.item{
                        height: 22rem;
                    }
                }
            }
        }
        >.footer{
            >.row{
                grid-template-columns: repeat(2,1fr);
                row-gap: 3em;
            }
        }
    }
   


//  larg scopp
    @include responsive(L){
        >header{
            .head-gallery{
                >div{
                    >img{object-fit: cover}
                    >.text{
                        @include baseDesign(70%,60%,2em 2em,0,0,none);
                        >h1{font-size: 3.8em;
                        }
                    }
                }
            }
            >nav{
                @include baseDesign(100%,10%,0 1em,0,0,#000);
                >.menu , >.cart{display: none;}
                >figure{width: 13%;}
                >.menu-bar>.box{
                    width: 30px;
                    height: 1em;
                    >span{
                        &::before , &::after{height: 2px;}
                    }
                }
            }
        }
        >.branding{
            padding: 6em 3em;
        }
        >.tachnology{
            >.row{
                column-gap: 0;
                row-gap: 1.5em;
                flex-flow: wrap;
                >.text_box{
                    width: 100%;
                    >div:first-of-type{margin-bottom: 2em;}
                }
                >.media-box{
                    width: 100%;
                }
            }
        }
        >.products-2{
            >.row{
                grid-template-columns: repeat(2,1fr);
                gap: 2em;
                >.card{
                    height: 43rem;
                }
            }
        }
        >.contact{
            padding:3em 3em;
            >.row{
                display: block;
                >.hesitate{
                    width: 100% !important;
                    padding: 1em 0;
                    margin-bottom: 2em;
                    >h2{
                        font-size: 1.8em;
                    }
                }
                >.form{
                    width: 100% !important;
                    >form{
                        padding: 0;
                        input{width: 100% !important;}
                    }
                }
            }
        }
        >.instagram{
            padding: 6em 3em;
            >.row{
                flex-flow: wrap;
                >.link{
                    width: 100% !important;
                    margin-bottom: 2em;
                }
                >.store{
                    width: 100% !important;
                }
            }
        }
        >.footer{
            >.row{
                grid-template-columns: repeat(2,1fr);
                row-gap: 3em;
            }
        }
    }
   
}
